geopandas==0.13.0
pandas== 1.5.3  # had 2.1.1
folium==0.14.0
streamlit-folium==0.14.0 # was 0.11.0


shapely==2.0.1
matplotlib==3.7.1
seaborn==0.12.0
Pillow==9.5.0
plotly==5.14.1
streamlit^   # had 1.26.0
